{% extends "AnimePlayApp/base.html" %}

{% load static %}

{% block search %}
<form action="{% url 'search'%}" method="post">
    <div class="search_bar">
        {% csrf_token %}
      <input type="text" name="search_query" id="searchInput" placeholder="Search for One Piece...">
      <button id="searchButton"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
</form>
{% endblock%}
{% block content %}
<link rel="stylesheet" href="{% static 'AnimePlayApp/css/login.css' %}" />
    <div class="category-container">
        <div class="log">
            <h1>Register</h1>
            <form method="POST">
                {% csrf_token %}
                USERNAME :<br><input type='text' placeholder='username' name="username"><br>
                E-MAIL : <br><input type="E-MAIL" name="email" placeholder='email' id="mail1"><br>
                PASSWORD :<br><input type='password' name='password' placeholder='password' id="password1"><br>
                <input class="but" type="submit" name="submit" value="Register">
            </form>
        </div>
    </div>
{% endblock %}